@import './utilities/variables.scss';

@import './animation/Start-Screen.scss';
@import './animation/Loading-Screen.scss';
@import './animation/Hacking-Screen.scss';
@import './animation/Scanner.scss';
@import './animation/Info-Toto.scss';
@import './animation/Error-Screen.scss';
@import './animation/Truth-Screen.scss';

@import './site/Homepage.scss';

@import './server/Server.scss';
@import './server/Window.scss';
@import './server/Folder.scss';

.animation {
    height: 100%;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 900px;
    background: none;
}

.blink {
    opacity: 0;
}